<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fridges</title>
</head>
<body>



<div th:switch="${fridges}">
  <div th:case="null"><h1>No fridges yet!</h1></div>
  <div th:case="*">
    <h2>Fridges</h2>
    <table>
      <thead>
      <tr>
        <th>Producer</th>
        <th>Type</th>
      </tr>
      </thead>
      <tbody>

      <tr th:each="fridge : ${fridges}">
        <td th:text="${fridge.producerName}"></td>
        <td th:text="${fridge.doorType.getDisplayName()}"></td>
      </tr>

      </tbody>
    </table>
  </div>
</div>

</body>
</html>