<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Fridges</title>

    <link th:href="@{/styles/styles2.css}" rel="stylesheet" />
    <link th:href="@{/styles/darkly.min.css}" rel="stylesheet" />
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.css}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>

</head>
<body>



<div th:switch="${fridges}">

    <div th:if="${#lists.isEmpty(fridges)}">
        <h1 class="center">No fridges yet!</h1>
    </div>

 <div th:if="${not #lists.isEmpty(fridges)}">

  <div class="center" th:case="*">
    <h2>Fridges</h2>

      <div class="center accordion" id="accordionExample" th:each="fridge : ${fridges}" style="width: 1000px;">
          <div class="center accordion-item">
              <h2 class="center accordion-header" th:id="heading + ${fridge.id}">
                  <button class="center accordion-button collapsed" type="button" data-bs-toggle="collapse" th:attr="data-bs-target=|#collapseOne${fridge.id}" aria-expanded="false" aria-controls="collapseOne">
                      Fridge
                      <span class="badge bg-primary" th:text="${fridge.id}"></span>
                      <span class="badge bg-warning" th:text="${fridge.producerName}"></span>
                      <span class="badge bg-info" th:text="${fridge.doorType.getDisplayName()}"></span>
                  </button>
              </h2>
              <div th:id="collapseOne + ${fridge.id}" class="center accordion-collapse collapse" th:attr="aria-labelledby=|heading${fridge.id}|" data-parent="#accordionExample" data-bs-parent="#accordionExample" style="width: 1000px;">
                  <div class="center accordion-body" id="body${fridge.id}">
                      <table class="center table table-hover" style="width: 900px;">
                          <thead>
                          <tr>
                              <th scope="col" >Product ID</th>
                              <th scope="col">Product Name</th>
                              <th scope="col">Quantity</th>
                          </tr>
                          </thead>
                          <tbody>
                          <tr class="table-primary">
                              <td th:text="${fridge.id}">a</td>
                              <td th:text="${fridge.id}">b</td>
                              <td th:text="${fridge.id}">c</td>
                              <th scope="col">
                                  <button type="button" class="btn btn-warning btn-sm">Delete product</button>
                              </th>
                          </tr>

                          </tbody>
                      </table>
                  </div>
              </div>
          </div>
      </div>
  </div>
 </div>

</div>

</body>
</html>