<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>

  <link th:href="@{/styles/styles2.css}" rel="stylesheet" />
  <link th:href="@{/styles/darkly.min.css}" rel="stylesheet" />
  <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
  <script type="text/javascript" th:src="@{/js/bootstrap.css}"></script>
  <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>

</head>
<body>

<div th:fragment="fragment_logo">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid center">
      <h1 class="center" style="color: #0f7864">SmartFridge</h1>
    </div>
  </nav>
</div>

<div th:fragment="fragment_menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid center">
    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <!-- HOME -->
          <form action="#" th:action="@{/home}" th:object="${model}" method="get">
            <button type="submit" class="btn btn-light btn-margin" name="action" value="cancel" th:formaction="@{/home}">Home</button>
          </form>
          <!-- FRIDGES -->
          <form action="#" th:action="@{/fridges/}" th:object="${model}" method="get">
            <button type="submit" class="btn btn-secondary btn-margin" name="action" value="cancel" th:formaction="@{/fridges/}">Fridges</button>
          </form>
          <!-- ADD FRIDGE -->
          <form action="#" th:action="@{/fridges/add}" th:object="${model}" method="get">
            <button type="submit" class="btn btn-secondary btn-margin" name="action" value="cancel" th:formaction="@{/fridges/add}">Add fridge</button>
          </form>
          <!-- ADD PRODUCT TO FRIDGE -->
          <form action="#" th:action="@{/product/add}" th:object="${model}" method="get">
            <button type="submit" class="btn btn-secondary btn-margin" name="action" value="cancel" th:formaction="@{/product/add}">Add product to fridge</button>
          </form>
          <form action="#" th:action="@{/about}" th:object="${model}" method="get">
            <button type="submit" class="btn btn-light btn-margin" name="action" value="cancel" th:formaction="@{/about}">About</button>
          </form>
        </ul>
      </div>
    </div>
  </nav>
</div>

<div class="container center">
  <h2 class="center">Welcome to SmartFridge!</h2>
</div>
<div class="container center">
  <img class="container-center center" alt="fridge" src="images/fridge.png" style="width:150px; height: 270px">
</div>


</body>
</html>
